body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.countdown {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #ffab00;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff1200;
}

#timer {
  font-size: 24px;
  margin-top: 20px;
}